@model GameOfLifeWebApplication.Models.Grid

@{
    ViewBag.Title = "View";
}


@{ int rows = Model.grid.GetLength(0); }
@{ int columns = Model.grid.GetLength(1); }

<p>Generation = @Html.DisplayFor(modelItem => Model.generation)</p>


<table>
    @for (int i = 0; i < rows; i++)
    {
    <tr>
        @for (int j = 0; j < columns; j++)
        {
        <td class="cell @(@Model.grid[i,j] ? "clicked" : "")">
            @Html.CheckBox("c",new {@class="hidden"})
        </td>
        }
    </tr>

    }

</table>

