@model GameOfLifeWebApplication.Models.Grid

@{
    ViewBag.Title = "View";
}


@{ int rows = Model.grid.GetLength(0); }
@{ int columns = Model.grid.GetLength(1); }

<p>Generation = @Html.DisplayFor(modelItem => Model.generation)</p>


<table class="table">
    @for (int i = 0; i < rows; i++)
    {
    <tr>
        @for (int j = 0; j < columns; j++)
        {
            <td onclick= "change(this)"(id ="cell" class="@Model.grid[i, j].ToString()" value ="@Model.grid[i, j]"></td>
        }
    </tr>

    }

</table>

